body {
    background-color: white;
    color: #212529;
}

span {
    display: inline-flex;
}

.navbar-nav>li {
    margin-left: 5px;
    margin-right: 5px;
}

#navLogoLink {
    max-width: 200px;
    width: 20vw;
}

#navLogo {
    max-width: 200px;
    width: 100%;
}

html, body, header, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
}

.descriptionText {
    margin: auto;
}

z .descriptionImage {
    overflow: hidden;
}

.imgContainer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 5% 0 5%;
}

.projectLeft{
    text-align: left;
    position: absolute;
    left: 0;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 30px 50px 30px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.projectRight{
    text-align: right;
    position: absolute;
    left: 0;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 30px 20px 30px 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.projectDescriptor{
    height: 500px;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 80px 380px;
}

.projectRight > .projectDescriptor{
    margin-right: 50px;
}

.projectDisplay{
    height: 500px;
}

.projectDisplay > img, .projectDisplay > .mySlides{
    height: 60%;
    max-width: 100%;
    border-radius: 25px;
}

.mySlides{
    overflow: hidden;
    display: none;  
    animation-name: slide;
    animation-duration: 3.5s;
}

.mySlides > img{
    height: 100%;
    max-width: 100%;
}

@keyframes slide {
    0% {opacity: 0.8}
    50% {opacity: 1}
  }

#oaye {
    top: 500px;
    background-color: #1282A2;
}

#counter {
    top: 1500px;
    background-color: #ff7f50;
}

#website {
    top: 1000px;
    background-color: #212529;
}

#simulation {
    top: 2000px;
    background-color: #63C132;
}

#solitaire {
    top: 2500px;
    background-color: #1282A2;
}

#websites {
    top: 3000px;
    background-color: #212529;
}

#websites > .projectDescriptor, #websites > .projectDisplay{
    margin-top: 40px;
}


/*-------------------WAVES-----------------*/
.wave1 {
    position: absolute;
    top: 420px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 97px;
}

.wave1 .shape-fill {
    fill: #1282A2;
}


.wave2 {
    position: absolute;
    top: 904px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.wave2 .shape-fill {
    fill: #212529;
}

.wave3 {
    position: absolute;
    top: 1366px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 134px;
    transform: rotateY(180deg);
}

.wave3 .shape-fill {
    fill: #FF7F50;
}

.wave4 {
    position: absolute;
    top: 1866px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave4 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 134px;
    transform: rotateY(180deg);
}

.wave4 .shape-fill {
    fill: #63C132;
}

.wave5 {
    position: absolute;
    top: 2370px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave5 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.wave5 .shape-fill {
    fill: #1282A2;
}

.wave6 {
    position: absolute;
    top: 2937px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave6 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
}

.wave6 .shape-fill {
    fill: #212529;
}