/*Navigation and variables*/
:root {
    /*Colours*/
    --dark-gray: #212529;
    --metallic-blue: #1282A2;
    --jungle-green: #63C132;
}

body {
    /*Colouring*/
    color: var(--dark-gray);
    background-color: white;
    /*Separates nav from main*/
    margin: 0;
    display: flex;
    overflow-x: hidden;
}

/*Navigation*/
nav {
    /*Display*/
    min-width: 55px;
    display: grid;
    grid-template-rows: repeat(6, 1fr) 4fr;
    height: 100vh;
    margin: 0 20px 0 0;
    /*For proper collapse/expansion*/
    overflow-x: hidden;
    transition: 0.8s;
    /*Stickiness and position on scroll*/
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    /*Style (Maybe just leave it white?)*/
    background-color: white;
}

.nav_element {
    /*Display*/
    margin: 10px 0;
    padding: 5px 10px;
    text-decoration: solid;
    color: orangered;
    /*Expansion*/
    transition: 0.6s;
    font-size: 1.2em;
}

.nav_element:hover {
    /*Display*/
    color: var(--dark-gray);
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px 15px;
}

/*Document content styling*/
main {
    flex-grow: 1;
    /*Colouring*/
    color: var(--dark-gray);
    background-color: white;
    /*Display*/
    display: grid;
    grid-template-rows: min-content repeat(6, minmax(min-content, max-content));
}

main a{
    color: orangered;
}

section{
    margin-bottom: 15vh;
}

h1 {
    font-size: 2em;
    color: orangered;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    padding: 20px 20px 0 0;
    text-align: center;
}

header>img {
    height: 50px;
}

header>a {
    color: var(--metallic-blue);
    padding-top: 15px;
    text-decoration: none;
    font-size: 1.4em;
    transition: 0.4s;
}

header>a:hover {
    font-size: 1.6em;
    font-weight: bolder;
}

/*Intro sections*/
#introduction {
    margin-right: 10px;
    font-size: 1.2em;
}

.expand_text {
    font-size: 1.2em;
    font-weight: 900;
}

.hover_me {
    animation: breathText 2s linear 0s infinite;
}

/*Library*/
#library {
    transition: 1s;
    width: 100px;
    max-width: 100px;
    margin-left: 100%;
}

#libHeader {
    color: var(--metallic-blue);
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.booksILike header {
    font-size: 35px;
    padding: 40px 40px 90px 40px;
    text-decoration: underline;
}

.bookShelfs {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.bookShelf {
    display: grid;
    grid-template-rows: 220fr 25fr;
    margin-bottom: 15px;
}

.bookRow {
    width: min(100%, 900px);
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, min(20%, 180px));
}

.book {
    width: min(95%, 160px);
    background-size: cover;
    margin: 0 auto;
    height: 220px;
}

.shelf {
    margin: 0 auto;
    height: 25px;
    width: min(100%, 900px);
    background-color: #FFF;
    box-shadow: 10px 10px 6px rgb(180, 179, 179);
}

.schools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/*On cards, from w3schools: 
https://www.w3schools.com/howto/howto_css_cards.asp*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 20px 0 5px;
}

.awards>.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 5px 0 4px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

#experience {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#jobs {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.job {
    display: grid;
    grid-template-columns: 4fr 7fr;
    margin: 20px 10px;
}

/*Alternate*/
.job:nth-child(2n+1) {
    direction: rtl;
}

/*But without switching reading direction*/
.job:nth-child(2n+1)>.job_description {
    direction: ltr;
}

.job>img {
    width: 100%;
    border-radius: 10%;
}

.job_description {
    padding: 0 10px;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

.job_description>h3 {
    font-size: 1.4em;
}

.job_description>p {
    font-size: 1.1em;
}

.language{
    color: var(--metallic-blue);
}

/* Style the tab */
.tab {
    margin-right: 10px;
    overflow: hidden;
    background-color: var(--dark-gray);
    display: grid;
    grid-template-rows: 1fr;
}

#projTab{
    width: fit-content;
    grid-template-columns: repeat(7,minmax(min-content,max-content));
    border-radius: 10px 10px 0 0;
}

#interesTab{
    grid-template-columns: repeat(6,minmax(min-content,max-content));
    border-radius: 0 0 10px 10px;
}
/*Tabs from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs_fade*/
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: coral;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: orangered;
}

/* Style the tab content */
.tabcontent {
    margin-right: 10px;
    display: none;
    padding: 6px 12px;
    background-color: var(--dark-gray);
    color: white;
}

.tabcontent *{
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}

.tabcontent img{
    max-width: 100%;
    border-radius: 20px;
}

.tabProjects{
    grid-template-rows: repeat(10, minmax(min-content, max-content));
    border-radius: 0 0 10px 10px;
}


/*Slideshow*/
.projectDisplay{
    width: 60%;
    margin: auto;
}


/*Interests*/
.tabInterests{
    border-radius: 10px 10px 0 0;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    padding-right: 10px;
}

.interestDescription{
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content,max-content));
    margin-right: 15px;
}

.tabInterests>img{
    max-width: 100%;
}

/*Accolades*/
.textAlternator{
    width: fit-content;
    margin: 10vh auto;
    text-align: center;
    animation: textFade 5s linear infinite;
}

/*Animations*/
@keyframes breathText {
    0% {
        font-size: 1.2em
    }

    50% {
        font-size: 1.3em
    }

    100% {
        font-size: 1.2em
    }
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes textFade {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}